.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: gray;

}
.log{
    display: grid;
    place-items: center;
    width: 300px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    border: 0.1px solid #DBDBDB ;
}
.log > .img {
    object-fit: contain;
    height: 150px;
}
.button {
    background-color: #0095f6;
    color:white;
}

.button:hover {
    background-color: #bddff5;
    color:#0095f6;
}
.button > p {
  margin-left: 10px;
}